.count{
    display: flex;
    justify-content: center;
    align-items: center;
}

.countButton{
    color: black;
    border: none;
    padding: 8px;
    border-radius: 12px;
    background-color: blueviolet;
}